<div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Dashboard </h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Consultas</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="pcoded-content">
        <!-- [ Main Content ] start -->
        <div class="row">

            

            <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Realizar Consulta</h5>
                            </div>
                            <div class="card-body">
                                
                                <h5 class="mt-5">Datos del chofer</h5>
                                <hr />
                                <div class="form-row">
                                
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Nombre</label>
                                        <input type="text" class="form-control" id="name" placeholder="Identificacion del chofer">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Segundo Nombre</label>
                                        <input type="text" class="form-control" id="name" placeholder="Segundo Nombre">
                                    </div>
                                
                                </div>

                                <div class="form-row">
                                
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Apellido</label>
                                        <input type="text" class="form-control" id="name" placeholder="Apellido">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Segundo Apellido</label>
                                        <input type="text" class="form-control" id="name" placeholder="Segundo Apellido">
                                    </div>
                                
                                </div>

                                <div class="form-row">
                                
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Tipo de Identificación</label>
                                        <input type="text" class="form-control" id="name" placeholder="Cédula">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Número de Identificación</label>
                                        <input type="text" class="form-control" id="name" placeholder="Número de Identificación">
                                    </div>
                                
                                </div>

                                
                                <br>
                                
                                <a style="float:right" class="btn pull-right btn-primary" href="/dashboard/resultados" type="submit">Buscar</a>
                                
                            </div>
                        </div>
                    </div>

       

        </div>
        <!-- [ Main Content ] end -->
    </div>

<script>
    $(document).ready(function(){
        {
    })
</script>

