<div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Dashboard </h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Inicio</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="pcoded-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 style="color: #E91E63 !important;">Pedidos </h4>
                                <h6 class=" m-b-0">Pedidos de hoy <strong>0</strong></h6>
                            </div>
                            <div class="col-4 text-right">
                                <i data-feather="chevron-right"> </i>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="card-footer bg-dark goto-reports">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">Ir</p>
                            </div>
                            <div class="col-3 text-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-down text-white hei-15 wid-15"><polyline points="23 18 13.5 8.5 8.5 13.5 1 6"></polyline><polyline points="17 18 23 18 23 12"></polyline></svg>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 style="color: #E91E63 !important;">Pedidos </h4>
                                <h6 class=" m-b-0">Pedidos de la semana <strong>0</strong></h6>
                            </div>
                            <div class="col-4 text-right">
                                <i data-feather="chevron-right"> </i>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="card-footer bg-dark goto-create-reports">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">Ir</p>
                            </div>
                            <div class="col-3 text-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-down text-white hei-15 wid-15"><polyline points="23 18 13.5 8.5 8.5 13.5 1 6"></polyline><polyline points="17 18 23 18 23 12"></polyline></svg>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 style="color: #E91E63 !important;">Pedidos </h4>
                                <h6 class=" m-b-0">Pedidos del mes <strong>0</strong></h6>
                            </div>
                            <div class="col-4 text-right">
                                <i data-feather="chevron-right"> </i>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="card-footer bg-dark goto-reports">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">Ir</p>
                            </div>
                            <div class="col-3 text-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-down text-white hei-15 wid-15"><polyline points="23 18 13.5 8.5 8.5 13.5 1 6"></polyline><polyline points="17 18 23 18 23 12"></polyline></svg>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h4 style="color: #E91E63 !important;">Pedidos </h4>
                                <h6 class=" m-b-0">Total de pedidos <strong>0</strong></h6>
                            </div>
                            <div class="col-4 text-right">
                                <i data-feather="chevron-right"> </i>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="card-footer bg-dark goto-create-reports">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">Ir</p>
                            </div>
                            <div class="col-3 text-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-down text-white hei-15 wid-15"><polyline points="23 18 13.5 8.5 8.5 13.5 1 6"></polyline><polyline points="17 18 23 18 23 12"></polyline></svg>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>

    <script>
        $(document).ready(function(){
            $('.goto-reports').on('click',function(e){
                e.preventDefault()
                window.location.href = '/dashboard/consultas'
            })

            $('.goto-create-reports').on('click',function(e){
                e.preventDefault()
                window.location.href = '/dashboard/Pedidos'
            })
        })
    </script>