<div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Crear Usuarios </h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Inicio</a></li>     
                        <li class="breadcrumb-item"><a href="$">Usuarios</a></li>                        
                        <li class="breadcrumb-item"><a href="$">Crear Usuario</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="pcoded-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                                <h5>Crear Usuario Nuevo</h5>
                            </div>
                    <div class="card-body">
                        <div class="row align-items-center">
                            <form method="post" action="#" id="register" style="width: 100%;">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                    </div>
                                    <input name="name" id="name" type="text" class="form-control" placeholder="Nombre">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                    </div>
                                    <input name="firstname" id="firstname" type="text" class="form-control" placeholder="Primer Apellido">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                    </div>
                                    <input name="secondLastname" id="secondLastname" type="text" class="form-control" placeholder="Segundo Apellido">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                    </div>
                                    <input name="idNumber" id="idNumber" type="text" class="form-control" placeholder="Número de identificación">
                                </div>
                                <div class="input-group mb-3">

                                    <select class="form-control">
                                        <option>Seleccionar Rol</option>
                                        <option value="admin">Administrador</option>
                                        <option value="vendedor">Vendedor</option>
                                        <option value="groomer">Groomer</option>
                                    </select>
                                    
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="mail"></i></span>
                                    </div>
                                    <input name="email" id="email" type="email" class="form-control" placeholder="Email ">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="lock"></i></span>
                                    </div>
                                    <input name="password" id="password" type="password" class="form-control" placeholder="Password">
                                </div>
                                {{!-- <div class="form-group text-left mt-2">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input input-primary" id="customCheckdefh2" checked="">
                                        <label class="custom-control-label" for="customCheckdefh2">Send me the <a href="#!"> Newsletter</a> weekly.</label>
                                    </div>
                                </div> --}}
                                <button  id="submit-btn" class="btn btn-primary btn-block mb-4">Crear</button>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <!-- [ Main Content ] end -->
    </div>

    <script src="/assets/js/vendor-all.min.js"></script>
<script src="/assets/js/plugins/bootstrap.min.js"></script>
<script src="/assets/js/plugins/feather.min.js"></script>
<script src="/assets/js/pcoded.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    $(document).ready(function(){
       

        
        $('#submit-btn').click(function(e){            
            e.preventDefault();
             var validator = $("#register").validate({
                rules: {
                    email: {
                        email: true,
                        required: true
                    },
                    password:{
                        required: true
                    },
                    firstname:{
                        required: true
                    },
                    name:{
                        required: true
                    },
                    idNumber:{
                        required: true
                    },
                },
                messages:{
                    email: "Correo electrónico inválido",
                    password: "Contraseña inválida",
                    firstname: "Este campo es requerido",
                    name:"Este campo es requerido",
                    idNumber: "Este campo es requerido"
                }
            });
            
            if($("#register").valid()){
                $.ajax({
                        type: "POST",
                        url: '/auth/register',
                        data: {
                            name: $('#name').val(),
                            lastname: $('#firstname').val(),
                            secondLastname: $('#secondLastname').val(),
                            idNumber: $('#idNumber').val(),
                            email: $('#email').val(),
                            password: $('#password').val(),
                        }
                    }).done(function(data) {
                        console.log(data)
                        if(!data.success){
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Este usuario ya esta registrado!',
                                footer: '<span style="text-align:center">Si el problema persiste contactar a soporte@listanegradechoferes.com</span>'
                            })
                        }else{
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Su usuario ha sido creado con éxito, será redirigido a la pantalla de inicio',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(function(){
                                window.location.href="/";
                            })
                        }
                    })
                    .fail(function(error) {
                        console.log(error)
                    });
            }

        })

         
    })
</script>